@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9619 0.0631 95.6522);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0.3497 0.0202 73.2542);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(67.47% 0.1726 259.49);
  --border: oklch(0.3497 0.0202 73.2542);
  --ring: oklch(0.7827 0.167 72.6196);
  --overlay: oklch(0% 0 0 / 0.8);
  --chart-1: oklch(0.7827 0.167 72.6196);
  --chart-2: oklch(0.6564 0.1045 199.8164);
  --chart-3: oklch(0.7369 0.1602 109.3561);
  --chart-4: oklch(0.6051 0.2015 357.1642);
  --chart-5: oklch(0.6633 0.2242 30.5265);
  --chart-active-dot: #000;
  --card: oklch(0.9787 0.0532 101.5756);
  --card-foreground: oklch(0.3497 0.0202 73.2542);
  --popover: oklch(0.9787 0.0532 101.5756);
  --popover-foreground: oklch(0.3497 0.0202 73.2542);
  --primary: oklch(0.7827 0.167 72.6196);
  --primary-foreground: oklch(0.9619 0.0631 95.6522);
  --secondary: oklch(0.697 0.1731 144.0653);
  --secondary-foreground: oklch(0.9619 0.0631 95.6522);
  --muted: oklch(0.9253 0.0928 89.3044);
  --muted-foreground: oklch(0.5576 0.0463 61.8872);
  --accent: oklch(0.7369 0.1602 109.3561);
  --accent-foreground: oklch(0.3497 0.0202 73.2542);
  --destructive: oklch(0.5883 0.239 29.5703);
  --destructive-foreground: oklch(0.9619 0.0631 95.6522);
  --input: oklch(0.9787 0.0532 101.5756);
  --radius: 2rem;
  --sidebar: oklch(0.3497 0.0202 73.2542);
  --sidebar-foreground: oklch(0.9619 0.0631 95.6522);
  --sidebar-primary: oklch(0.7827 0.167 72.6196);
  --sidebar-primary-foreground: oklch(0.9619 0.0631 95.6522);
  --sidebar-accent: oklch(0.7369 0.1602 109.3561);
  --sidebar-accent-foreground: oklch(0.9619 0.0631 95.6522);
  --sidebar-border: oklch(0.4109 0.0244 49.7123);
  --sidebar-ring: oklch(0.7827 0.167 72.6196);
  --font-sans: "IBM Plex Mono", monospace;
  --font-serif: "Playfair Display", serif;
  --font-mono: "IBM Plex Mono", monospace;
  --shadow-color: #000000;
  --shadow-opacity: 1;
  --shadow-blur: 0px;
  --shadow-spread: 2px;
  --shadow-offset-x: 4px;
  --shadow-offset-y: 4px;
  /* --letter-spacing: 0.025em; */
  --spacing: 0.25rem;
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1);

  --shadow-2xs: 4px 4px 0px 2px hsl(0 0% 0% / 0.5);
  --shadow-xs: 4px 4px 0px 2px hsl(0 0% 0% / 0.5);
  --shadow-sm: 4px 4px 0px 2px hsl(0 0% 0% / 1),
    4px 1px 2px 1px hsl(0 0% 0% / 1);
  --shadow-md: 4px 4px 0px 2px hsl(0 0% 0% / 1),
    4px 2px 4px 1px hsl(0 0% 0% / 1);
  --shadow-lg: 4px 4px 0px 2px hsl(0 0% 0% / 1),
    4px 4px 6px 1px hsl(0 0% 0% / 1);
  --shadow-xl: 4px 4px 0px 2px hsl(0 0% 0% / 1),
    4px 8px 10px 1px hsl(0 0% 0% / 1);
  --shadow-2xl: 4px 4px 0px 2px hsl(0 0% 0% / 2.5);
  --tracking-normal: 0.025em;
}

.dark {
  --background: oklch(0.2768 0 0);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(0.9253 0.0928 89.3044);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(67.47% 0.1726 259.49);
  --border: oklch(0.9253 0.0928 89.3044);
  --ring: oklch(0.7827 0.167 72.6196);
  --chart-1: oklch(0.7827 0.167 72.6196);
  --chart-2: oklch(0.6564 0.1045 199.8164);
  --chart-3: oklch(0.8765 0.1932 111.4002);
  --chart-4: oklch(0.7324 0.1831 51.5708);
  --chart-5: oklch(0.8413 0.1638 82.4559);
  --chart-active-dot: #fff;
  --card: oklch(0.3438 0.0133 48.3134);
  --card-foreground: oklch(0.9253 0.0928 89.3044);
  --popover: oklch(0.3438 0.0133 48.3134);
  --popover-foreground: oklch(0.9253 0.0928 89.3044);
  --primary: oklch(0.7827 0.167 72.6196);
  --primary-foreground: oklch(0.2768 0 0);
  --secondary: oklch(0.7233 0.0795 167.9037);
  --secondary-foreground: oklch(0.2768 0 0);
  --muted: oklch(0.4109 0.0244 49.7123);
  --muted-foreground: oklch(0.7835 0.0788 81.78);
  --accent: oklch(0.8765 0.1932 111.4002);
  --accent-foreground: oklch(0.2768 0 0);
  --destructive: oklch(0.6633 0.2242 30.5265);
  --destructive-foreground: oklch(0.9253 0.0928 89.3044);
  --input: oklch(0.3438 0.0133 48.3134);
  --radius: 2rem;
  --sidebar: oklch(0.2426 0.0096 219.8852);
  --sidebar-foreground: oklch(0.9253 0.0928 89.3044);
  --sidebar-primary: oklch(0.7827 0.167 72.6196);
  --sidebar-primary-foreground: oklch(0.2426 0.0096 219.8852);
  --sidebar-accent: oklch(0.8765 0.1932 111.4002);
  --sidebar-accent-foreground: oklch(0.2426 0.0096 219.8852);
  --sidebar-border: oklch(0.4109 0.0244 49.7123);
  --sidebar-ring: oklch(0.7827 0.167 72.6196);
  --font-sans: "IBM Plex Mono", monospace;
  --font-serif: "Playfair Display", serif;
  --font-mono: "IBM Plex Mono", monospace;
  --shadow-color: #000000;
  --shadow-opacity: 1;
  --shadow-blur: 0px;
  --shadow-spread: 2px;
  --shadow-offset-x: 4px;
  --shadow-offset-y: 4px;
  /* --letter-spacing: 0.025em; */
  --spacing: 0.25rem;
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1);
  --shadow-2xs: 4px 4px 0px 2px hsl(0 0% 0% / 0.5);
  --shadow-xs: 4px 4px 0px 2px hsl(0 0% 0% / 0.5);
  --shadow-sm: 4px 4px 0px 2px hsl(0 0% 0% / 1),
    4px 1px 2px 1px hsl(0 0% 0% / 1);
  --shadow-md: 4px 4px 0px 2px hsl(0 0% 0% / 1),
    4px 2px 4px 1px hsl(0 0% 0% / 1);
  --shadow-lg: 4px 4px 0px 2px hsl(0 0% 0% / 1),
    4px 4px 6px 1px hsl(0 0% 0% / 1);
  --shadow-xl: 4px 4px 0px 2px hsl(0 0% 0% / 1),
    4px 8px 10px 1px hsl(0 0% 0% / 1);
  --shadow-2xl: 4px 4px 0px 2px hsl(0 0% 0% / 2.5);
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 10px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;
  --font-sans: "IBM Plex Mono", monospace;
  --font-mono: "IBM Plex Mono", monospace;
  --font-serif: "Playfair Display", serif;
  --radius: 2rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-input: var(--input);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  body {
    @apply text-foreground font-base bg-background;
    letter-spacing: var(--tracking-normal);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
