body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

nav ul {
  display: flex;
  gap: 10px;
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
}

nav a:hover {
  color: #007bff; /* Optional: Change color on hover */
}

.home-nav {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
}

.notification {
  position: absolute; /* Keeps it on top */
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Centers it */
  width: max-content;
  z-index: 1000;
}

.login {
  gap: 5px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loginButton {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form-header {
  color: black;
}
