$mantine-breakpoint-xs: 576px;
$mantine-breakpoint-sm: 768px;
$mantine-breakpoint-md: 992px;
$mantine-breakpoint-lg: 1200px;
$mantine-breakpoint-xl: 1400px;

.title {
  font-size: 34px;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 24px;
  }
}

.description {
  max-width: 600px;
  margin: auto;

  &::after {
    content: "";
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.card {
  border: 1px solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.cardTitle {
  &::after {
    content: "";
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
  }
}

.featuresContainer {
  display: flex;
  align-items: center;
  padding-left: calc(var(--mantine-spacing-xl) * 4);
  padding-right: calc(var(--mantine-spacing-xl) * 4);
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
  /*border: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-8)) */
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column-reverse;
    padding: var(--mantine-spacing-xl);
  }
}
