$mantine-breakpoint-xs: 576px;
$mantine-breakpoint-sm: 768px;
$mantine-breakpoint-md: 992px;
$mantine-breakpoint-lg: 1200px;
$mantine-breakpoint-xl: 1400px;

@mixin hover-link {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

@mixin hover-sublink {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  z-index: 1000; /* Ensures the header stays on top of other elements */
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  //
  //border-bottom: 1px solid
  //  light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  //background-color: light-dark(
  //  var(--mantine-color-gray-0),
  //  var(--mantine-color-dark-7)
  //);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for better visibility */
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);

  @media (max-width: $mantine-breakpoint-sm) {
    height: 42px;
    width: 100%;
  }

  &:hover {
    @include hover-link;
  }
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  &:hover {
    @include hover-sublink(); /* Apply hover effect */
  }
}

.dropdownFooter {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.loginWindow {
  border-radius: 24px;
}
